body{
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

.title{
    background-color: #F3EEEA;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

h1{
    display: flex;
    margin: 0;
    margin-left: 150px;
}

h3{
    margin: 0;
    margin-top: 15px;
    margin-right: 200px;
    vertical-align: middle;
}

.imgh{
    width: 45px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
}

/* nav style */
nav{
    margin: 40px auto;
}

nav .nav{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: 0px;
}

.nav > li{
    display: flex;
}

.nav > li > p{
    margin: 0;
    margin-top: 3px;
}

.image{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

/* slide style */
.section input[id*="slide"]{
    display: none;
}

.section .slidewrap{
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
}

.section .slidelist {
    padding-left: 320px;
    position: relative;
    white-space: nowrap;   /*inline요소에서 줄바꿈 없이 세로로 쭉이어줌*/
}

.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section .slidelist .left, .right{
    position: absolute;
    top: 100px;
    padding: 20px;
    background-color: aliceblue;
    cursor:pointer;
}

.section .slide-control .left{
    left: 100px;
}

.section .slide-control .right{
    right: 100px;
}

/* 슬라이드 넘어가는 효과 */
.section [id*="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translate(0%);}
.section [id*="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translate(-100%);}
.section [id*="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translate(-200%);}

.section .slide-control [class*= "control"] {display: none;}
.section [id*="slide01"]:checked ~ .slidewrap .control01 {display:block;}
.section [id*="slide02"]:checked ~ .slidewrap .control02 {display:block;}
.section [id*="slide03"]:checked ~ .slidewrap .control03 {display:block;}

/* upload style */
.upload-box{
    width:500px;
    height:300px;
    border:1px solid gray;
    box-shadow: 2px 3px 9px hsl(0, 0%, 47%);
    padding:10px;
}

.upload-box input#upload{
    display: none;
}

.upload-box input{
    margin-top: 10px;
    width: 495px;
    height: 80px;
}

.upload-box label{
    display: block;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    cursor: pointer;
}
